@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  background-color: rgb(30, 30, 30);
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: #1b1a1a;
  border-bottom: solid white 1px;
  height: 50px;
  width: 100%;
  padding: 30px;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

footer {
  background-color: #131313;
  margin-top: 30vh;
  padding: 30px;
  padding-top: 200px;
  padding-bottom: 100px;
}

footer p {
  font-size: 12px;
  color: white;
  text-align: center;
}

footer a {
  font-size: 12px;
  color: deepskyblue;
  text-align: center;
}

h1 {
  background-image: linear-gradient(45deg, #5e11c9, #d10493); /* твой градиент из шапки */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Ubuntu;
  font-size: 3rem;
  color: white;
  margin: 30px;
  text-align: center;
}

h2 {
  background-image: linear-gradient(45deg, #5e11c9, #d10493); /* твой градиент из шапки */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-family: Ubuntu;
  color: white;
}

h3 {
  /* background-image: linear-gradient(45deg, #5e11c9, #d10493); /* твой градиент из шапки */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  font-size: 1.85rem;
  font-family: Ubuntu;
  color: rgb(102, 16, 214);
}

p {
  font-size: 1.25rem;
  font-family: Ubuntu;
  color: white;
  margin-bottom: 5px;
}

a {
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #5e08aa;
  cursor: pointer;
}

img {
  height: 128px;
}

button {
  background-image: linear-gradient(45deg, #5e11c9, #d10493);
  font-family: Ubuntu;
  font-size: 1.25rem;
  border-radius: 50px;
  width: 40%;
  height: 40px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

button:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  font-size: 2rem;
  font-family: Ubuntu;
  color: white;
}

.main-block {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10%;
  background-color: #1b1a1a;
  border-radius: 25px;
  padding: 3%;
  margin: 5%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main-block::before {
  content: "";
  position: absolute;
  inset: 0;                          
  border-radius: 25px;                 
  border: 5px solid transparent;       
  background:
    linear-gradient(#1b1a1a, #1b1a1a) padding-box,   
    linear-gradient(45deg, #080756, #d10493) border-box; 
  z-index: -1;                        
}

.main-block h2 {
  background-image: linear-gradient(45deg, #5e11c9, #d10493); /* твой градиент из шапки */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: row;
  gap: 10%;
  background-color: #1a1a1a;
  margin: 30px;
  padding: 3%;
  border-radius: 30px;
  align-items: center;
}

.object-block {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10%;
  background-color: #1b1a1a;
  border-radius: 25px;
  padding: 3%;
  margin: 5%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.object-block::before {
  content: "";
  position: absolute;
  inset: 0;                          
  border-radius: 25px;                 
  border: 5px solid transparent;       
  background:
    linear-gradient(#1b1a1a, #1b1a1a) padding-box,   
    linear-gradient(45deg, #080756, #d10493) border-box; 
  z-index: -1;                        
}

.object-block img {
  height: 384px;
}

.object-block a {
  color: deepskyblue;
}

.object-block a:hover {
  color: #a104d1;
  transition: color 0.5s ease;
}

.text-block {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}

.simple-block {
  display: flex;
  flex-direction: row;
  margin: 30px;
  text-align: left;
  align-items: center;
}

.links-list {
  list-style: none;
  padding-left: 0;
}

.links-list li {
  position: relative;           
  padding-left: 64px;           
  margin-bottom: 8px;           
  line-height: 1.5;             
}

.links-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Картинка для GitHub */
.git-link::before {
  background-image: url("../images/github.png");
}

/* Сюда потом добавишь картинку для Telegram */
.tg-link::before {
  background-image: url("../images/tg.png");
}

.default-link::before {
  background-image: url("../images/link1.png");
}

.hyperlink {
  color: deepskyblue;
  text-decoration: none;
}

#avatar {
  border-radius: 10%;
}

#feather {
  height: 128px;
}

#cat {
  height: 256px;
  border-radius: 25px;
}


@media (max-width: 600px) {
  img {
    height: 64px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    width: 70%;
    height: 30px;
  }

  header {
    gap: 5%;
    padding: 10px;
  }

  ul {
    line-height: 2rem;
  }

  .block {
    flex-direction: column;
  }
  .main-block {
    flex-direction: column;
  }

  .object-block img {
    height: 128px;
  }

  .menu-link {
    font-size: 1rem;
  }

  #avatar {
    display: none;
  }

  #cat {
    display: none;
  }

  #feather {
    height: 64px;
  }

  #link-img {
    margin-bottom: 25px;
  }
}

